@model ORT_PNT1_Proyecto_2022_2C_I_Foro.Models.Pregunta

@{
    ViewData["Title"] = "Create";
}

<h1>Nueva Pregunta</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control" style="resize:none;" rows="5"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
@*            <div class="form-group">
                <label asp-for="CantMeGustas" class="control-label"></label>
                <input asp-for="CantMeGustas" class="form-control" />
                <span asp-validation-for="CantMeGustas" class="text-danger"></span>
            </div>*@
@*            <div class="form-group">
                <label asp-for="MiembroId" class="control-label"></label>
                <select asp-for="MiembroId" class ="form-control" asp-items="ViewBag.MiembroId"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Publicar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
