@{
    ViewData["Title"] = "Oops!";
}

<div style="display:flex; align-items:center; justify-content:center; height:90vh; text-align:center">
        <h1>Oops! Algo salió mal. Asegurese de estar logeado en la plataforma antes de realizar esta accion.</h1>
</div>
